[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

requests = "*"
apache-airflow = {extras = ["s3", "postgres", "celery"]}
pre-commit = "*"
python-dotenv = "*"
pytest = "*"
honcho = "*"
pytest-cov = "*"
codecov = "*"


[requires]

python_version = "3.6"
